@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #F05454;
  --disabled-color: #eceeef;
  --background-color: #F5F5F5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  color: #222831;
  font-size: 6em;
  padding: 0px;
  margin: 0px;
}

.subtitle{
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.mv-1 {
  margin: 1em 0em;
}

.mh-1 {
  margin: 0em 1em;
}


.mv-2 {
  margin: 2em 0em;
}

.mv-3 {
  margin: 3em 0em;
}

.mv-4 {
  margin: 4em 0em;
}
.mv-5 {
  margin: 5em 0em;
}

.line-50 {
  height: 10px;
  width: 70px;
  background-color: #00ADB5;
}


a {
  text-decoration: none;
  list-style: none;
}

.navItem {
  font-size: 2em;
  font-weight: 500;
  color: #989b9e;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  margin: 0 0.3em;
}

.active {
  color: #00ADB5;
}

.navItem:hover {
  color: #00ADB5;
  border-bottom: 3px solid #00ADB5;
}

.container{
  padding: 0 100px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(40 * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(40) * 1px;    
  background-color: #fff;      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(40 * 1px) 0 0 0;    
  background-color: #fff;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: #fff;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    

.circle-50 {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 25px;
}

.bold {
  font-weight: bold;
}

.thin {
  font-weight: lighter;
}

.playfairFont {
  font-family: "Playfair Display", serif;
}
