.homepage {
  height: calc(100vh - 300px);
}

.homepage__pretitle {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.homepage__title {
  font-size: 5.5rem;
}

.homepage__content {
  font-size: 2rem;
}

.homepage__link{
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.homepage__link:hover{
  color: var(--primary-color)
}
